@media (max-width:1485px){
    header{
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        z-index: 10;
    }
    .header--buttons{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0%;
        top: 0%;
    }
    .header--main{
        width: 100%;
        margin: 0 0 0% 5%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .header--buttons button{
        height: 100%;
        border-radius: 5px;
    }
    .header--buttons-lvl-line{
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    .header--buttons-lvl-line-bottom{
        display: flex;
        flex-direction: row;
        margin-top: 1%;
        margin-bottom: 2.5%;
    }
    .logo img{
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }
    .main--value-text-midle{
        margin: 0 5% 0 0;
        margin-bottom: 5%;
        padding: 20px 20px;
    }
    .main--value-text-right{
        margin: 0;
        margin-bottom: 5%;
        padding: 10px 10px;
    }
    .midle-block{
        width: 58%;
    }
    .right-block{
        width: 50%;
    }
    .container{
        width: 80%;
        margin: 5% 0% 5% 7.5%;
        display: flex;
        flex-direction: row;
    }
    .content-sides p{
        margin: 3% 5.5%;
    }
    .audio-block{
        max-width: 140px;
    }
    .cart{
        margin-left: 1.5%;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:1285px){
    header{
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        z-index: 10;
    }
    .header--buttons{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0%;
        top: 0%;
    }
    .header--main{
        width: 100%;
        margin: 0 0 0% 5%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .header--buttons button{
        height: 100%;
        border-radius: 5px;
    }
    .header--buttons-lvl-line{
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    .header--buttons-lvl-line-bottom{
        display: flex;
        flex-direction: row;
        margin-top: 1%;
        margin-bottom: 2.5%;
    }
    .logo img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .main--value-text-midle{
        margin: 0 5% 0 0;
        margin-bottom: 5%;
        padding: 20px 20px;
    }
    .main--value-text-right{
        margin: 0;
        margin-bottom: 5%;
        padding: 10px 10px;
    }
    .midle-block{
        width: 58%;
    }
    .right-block{
        width: 50%;
    }
    .container{
        width: 80%;
        margin: 5% 0% 5% 7.5%;
        display: flex;
        flex-direction: row;
    }
    .content-sides p{
        margin: 3% 5.5%;
    }
    .audio-block{
        max-width: 140px;
    }
    .cart{
        margin-left: 1.5%;
        display: flex;
        flex-direction: column;
    }
}